*.pyc
*.o
*.hi
.sconsign.dblite
/fwc/fw_anomisol
/fwc/fw_disjunct_doc
/fwc/fw_doc
/fwc/fw_equiv_doc
/fwc/fw_equiv_dot
/fwc/fw_rulesip_svg
/fwc/fw_tex
/fwc/fw_tree_doc
/fwc/fw_tree_dot
/fwc/lib/quickchecker
/fwc/lib/quickchecker.hs
/fwc/lib/test_results.txt
/fwc/net_allpaths_doc
/fwc/net_anomdistr
/fwc/net_checker
/fwc/net_checker_distr
/fwc/net_doc
/fwc/net_equivs_dot
/fwc/net_globalprofile_doc
/fwc/net_globalprofile_svg
/fwc/net_internet_doc
/fwc/net_isol_checker
/fwc/net_neato
/fwc/net_ruletree_dot
/fwc/net_tex
/fwc/net_tex_assertions
/fwc/net_to_fw
/diss/svgrules
/diss/revno.tex
/diss/*.pdf
/diss/*.ps
/diss/*.neato
/diss/*.res
/diss/*.log
/diss/*.aux
/diss/*.bbl
/diss/*.blg
/diss/*.idx
/diss/*.toc
/diss/*.loa
/diss/*.lof
/diss/*.lot
/diss/*.out
/diss/*.png
/diss/*.ilg
/diss/*.ind
/diss/case*naive*.tex
/diss/case*proper*.tex
/diss/case*naive*.dot
/diss/case*proper*.dot
/diss/case*naive*.svg
/diss/case*proper*.svg
/diss/ex*.tex
/diss/ex*.dot
/diss/ex*.svg
