*.pyc
*.o
*.hi
.sconsign.dblite
/fwc/fw_anomisol
/fwc/fw_disjunct_doc
/fwc/fw_doc
/fwc/fw_equiv_doc
/fwc/fw_equiv_dot
/fwc/fw_rulesip_svg
/fwc/fw_tex
/fwc/fw_tree_doc
/fwc/fw_tree_dot
/fwc/lib/quickchecker
/fwc/lib/quickchecker.hs
/fwc/lib/test_results.txt
/fwc/net_allpaths_doc
/fwc/net_anomdistr
/fwc/net_checker
/fwc/net_checker_distr
/fwc/net_doc
/fwc/net_equivs_dot
/fwc/net_globalprofile_doc
/fwc/net_globalprofile_svg
/fwc/net_internet_doc
/fwc/net_isol_checker
/fwc/net_neato
/fwc/net_ruletree_dot
/fwc/net_tex
/fwc/net_tex_assertions
/fwc/net_to_fw
/diss/revno.tex
/diss/*.pdf
/diss/*.ps
/diss/*.neato
/diss/*.res
/diss/*.log
/diss/case*naive*.tex
/diss/case*proper*.tex
/diss/case*naive*.dot
/diss/case*proper*.dot
/diss/case*naive*.svg
/diss/case*proper*.svg
/diss/*.aux
/diss/*.bbl
/diss/*.blg
/diss/*.idx
/diss/*.toc
/diss/conjuntos.png
/diss/conjuntosNoalpha.png
/diss/exconflict.tex
/diss/exconflictfixed.tex
/diss/exinvis.tex
/diss/exredund.tex
/diss/exblock.tex
/diss/exblock_dot.dot
/diss/exdisa.tex
/diss/exdisa_dot.dot
/diss/exdisa_profile.svg
/diss/exirrelevancy.tex
/diss/exirrelevancy_dot.dot
/diss/exleak.tex
/diss/exr_conflict1.svg
/diss/exr_conflict2.svg
/diss/exr_conflictok1.svg
/diss/exr_conflictok2.svg
/diss/exr_invisible1.svg
/diss/exr_invisible2.svg
/diss/exr_invisible3.svg
/diss/exr_invisible4.svg
/diss/exr_redundant1.svg
/diss/exr_redundant2.svg
/diss/exrtree_ruletree.dot
/diss/svgrules
